DATABASE_URL="postgresql://root:root@localhost:5432/eteg?schema=public"
JWT_SECRET=something

USER_NAME=Jhon Doe
USER_EMAIL=root@mail.com
USER_PASSWORD=root

# Configuracoes do container do banco de dados
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=eteg